<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Style.css">
    <title>TIRAMISÚ</title>
</head>
<body>
    <h1 id="idh1">Tiramisú</h1>
    <!--Acá va la imagen-->
    <img src="../img/rufino-tiramisu-02jpg.webp" alt="Imagen de comida terminada" height="200" width="500">
    <h3 class="ClaseH2">Ingredientes</h3>
    <ul>
        <h4>Almíbar:</h4>
        <li>Agua  200 cc</li>
        <li>Azúcar  200 gr</li>
        <li>Café instantáneo  3-4 cucharadas</li>
        <h4>Crema de queso:</h4>
        <li>Crema de Leche  200 gr</li>
        <li>Queso Mascarpone  300 gr</li>
        <li>Agua  30 cc</li>
        <li>Yemas 4</li>
        <li>Azúcar  80 gr</li>
        <h4>Armado:</h4>
        <li>Vainillas  200gr</li>
        <li>Cacao amargo para espolvorear</li>
    </ul>
    <h3 class="ClaseH2">Preparación</h3>
    <!--Acá va el video-->
    <iframe width="500" height="200" src="https://www.youtube.com/embed/qy7dGoBukkc" title="TIRAMISÚ ITALIANO ✩ Receta y paso a paso || Tan Dulce" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
        <li>Primero preparar el almibar de café</li>
        <li>En un olla poner el agua (00 cc) y el azucar (200 gr) y calentar</li>
        <li>dejar que hierva durante 5 minutos y retirar del fuego</li>
        <li>Diluir el café en un vaso con agua y agregar a la olla de agua y azucar y dejar enfriar </li>
        <li>Preparar la crema de queso</li>
        <li>Batir la crema de leche a medio punto</li>
        <li>Por otro lado poner en un voul de metal las 4 yemas, el agua y el azucar y colocar sobre un baño maría durante 4 o 5 minutos</li>
        <li>Batir con batidora electrica hasta que este a temperatura amiente </li>
        <li>Mezclar la crema de leche con el queso Mascarpone hasta que quede uniforme</li>
        <li>Agregar la mezcla de las yemas</li>
        <li>Para el armado del tiramisú, armar una base con las vainillas mojando cada una en el almiar de Café</li>
        <li>Volcar la mitad de la crema de queso intentando cubrir todas lsa vainillas</li>
        <li>Agregar otra capa de vainillas y también de crema</li>
        <li>Dejar 2 horas en la heladera para que quede firme</li>
        <li>Espolvorear el cacao amargo</li>
        <li>Disfrutar</li>
    </ol>
    <a href="../../index.html" >Ir a la página principal</a>
</body>
</html>

