<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASTA LOCA</title>
</head>
<body>
    <h1>Pasta Loca</h1>
    <!--Acá va la imagen de pasta loca-->
    <img src="../img/PastaLoca.JPG" alt="Imagen de comida terminada" height="200" width="500">
    <h3>Ingredientes</h3>
    <ul>
        <li>1 litro de agua caliente</li>
        <li>1 cucharadita de sal</li>
        <li>1 cucharadita de aceite</li>
        <li>300 g de pasta</li>
        <li>4 cucharadas de aceite</li>
        <li>1 cucharada de margarina</li>
        <li>2 cucharadas de extracto de tomate</li>
        <li>1 cucharadita de sal</li>
        <li>1 cucharadita de pimienta negra</li>
        <li>1 cucharadita de tinte</li>
        <li>1 cucharadita de perejil</li>
        <li>4 huevos</li>
    </ul>
    <h3>Preparación</h3>
    <!--Acá va el video de pasta loca-->
    <iframe width="500" height="200" src="https://www.youtube.com/embed/P-2JOVpPZQw" title="Esta es la receta más fácil, rápida y barata que te encantará." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
        <li>Poner a calentar 1 litro de agua en una olla</li>
        <li>Agregar 1 cucharadita de sal</li>
        <li>Agregar 1 cucharadita de aceite</li>
        <li>Cuando el agua esté hirviendo, agregar 300 g de pasta y cocer durante 7 minutos</li>
        <li>Luego, calentar una sarten y poner 4 cucharadas de aceite</li>
        <li>Agregar 1 cucharada de margarina</li>
        <li>Agregar 2 cucharadas de extracto de tomate</li>
        <li>Agregar 1 cucharadita de sal</li>
        <li>Agregar 1 cucharadita de pimienta negra</li>
        <li>Agregar 1 cucharadita de tinte</li>
        <li>Agregar 1 cucharadita de perejil y mezclar bien</li>
        <li>Luego agregar 4 huevos y seguir mezclando hasta que la salsa se endurezca un poco</li>
        <li>Finalmente agregar la pasta que preparamos en la olla y mezclar ligeramente todo</li>
        <li>Disfrutar</li>
    </ol>
    <a href="../../index.html" >Ir a la página principal</a>
</body>
</html>













